/* Main */

@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	background-color: #ffffff;
	height: 100%;
}

nav {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 8px 7px -8px #999;
    -moz-box-shadow: 0 8px 7px -8px #999;
    box-shadow: 0 8px 7px -8px #999;
}

.wave {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    font-size: 2.5rem;
}

#nav_spacer {
	height: 64px;
}

#accordion {
	font-size: 0.8rem;
}

#main {
    padding-top: 1rem;
}

.card-header {
	color: #000000;
}

.card a {
	text-decoration: none;
	color:inherit;
}

.card {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.form-control {
	padding: 0;
	font-size: 0.8rem;
}

.input-group-addon {
	padding: 0 0.5rem;
}

input {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

footer {
	background-color: #2ecc71;
	color: #ffffff;
	text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.modal-footer button {
	margin: 0 auto;
}

#signup_modal {
	top: 20%;
}

.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    height: 2rem;
    margin: 0 auto;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
